{% extends "index.html" %}
{% block content%}

<div class="containerabout" style="background-color: transparent; height: 400px; width: 1550px; margin-left: 50px; margin-right: auto; margin-bottom: 0;">
    
    <h1 style="margin: 50px; font-size: 50px;">Team JACI</h1>
    
    <h3 style="margin: 50px;">Group 5 </h3>

    
    <img src="static/img/mendoza.jpg" alt="Mendoza" style="height: 185px; width:200px; float: center; padding-right: 100px; margin-left: 30px">
    <img src="static/img/ortua.png" alt="Ortua" style="height: 185px; width:200px; float: center; padding-right: 100px; margin-left: 10px">
    <img src="static/img/pajadura.png" alt="Pajadura" style="height: 185px; width:200px; float: center; padding-right: 100px; margin-left: 5px">
    <img src="static/img/tadiwan.png" alt="Tadiwan" style="height: 185px; width:200px; float: center; padding-right: 120px; margin-left: 5px">
</div>
    


    <div class="info" style="background-color: transparent; float: left; height:30%; width: 300px; margin-top: 20px;margin-right: 10px; margin-left: 30px">
        <h3 class="names">Louis Adrian F. Mendoza</h3>
        <h5 class="infos">CPE41S3</h5>
        <h5 class="infos">qlafmendoza@tip.edu.ph</h5>
    </div>

    <div class="info" style="background-color: transparent; float: left; height:30%; width: 300px; margin-top: 20px;margin-right: 10px">
        <h3 class="names">Vyanne Joyce P. Ortua</h3>
        <h5 class="infos">CPE41S3</h5>
        <h5 class="infos">qvjportua@tip.edu.ph</h5>
    </div>
    <div class="info" style="background-color: transparent; float: left; height:30%; width: 300px; margin-top: 20px;margin-right: 10px">
        <h3 class="names">Kenneth Cole P. Pajadura</h3>
        <h5 class="infos">CPE41S3</h5>
        <h5 class="infos">qkcppajadura@tip.edu.ph</h5>
    </div>
    <div class="info" style="background-color: transparent; float: left; height:30%; width: 300px; margin-top: 20px;margin-right: 10px">
        <h3 class="names">Japril Ivan M. Tadiwan</h3>
        <h5 class="infos">CPE41S3</h5>
        <h5 class="infos">qjimtadiwan@tip.edu.ph</h5>
    </div>
</div>

{% endblock %}