<html>
    <head>
        <title> Design Project   </title>
        <link rel= "stylesheet" href="static/style.css">
    </head>

<body>  

    <div class="container">
        
        <div class= "navbar">
            <a href = "/" > 
                <img src="static/img/logo.png" class="logo"> </a>

            <nav>
                <ul>
                    {% if not current_user.is_authenticated %}
                    <li><a href="/login"> LOGIN</a></li>
                    <li><a href="/registration"> REGISTER </a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li><a href="/"> HOME</a></li>
                    <li><a href="/about"> ABOUT US</a></li>
                    <li><a href="/monitoring"> MONITORING </a></li>
                    <li><a href="/logout"> LOGOUT </a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>
        {% block content %}{% endblock %}
    


    </div>
    

    
</body>

</html>